NEXTAUTH_SECRET={{NEXTAUTH_SECRET}}

PORTAL_PORT={{PORTAL_PORT}}
KEYCLOAK_PORT={{KEYCLOAK_PORT}}

KEYCLOAK_CLIENT_ID={{KEYCLOAK_CLIENT_ID}}
KEYCLOAK_CLIENT_SECRET={{KEYCLOAK_CLIENT_SECRET}}
KEYCLOAK_ISSUER=http://keycloak:8080/realms/{{REALM_NAME}}
KEYCLOAK_EXTERNAL_BASE=http://{{HOSTNAME}}:{{KEYCLOAK_PORT}}/realms/{{REALM_NAME}}
NEXT_PUBLIC_IDENTITY_ISSUER_URL=http://{{HOSTNAME}}:{{KEYCLOAK_PORT}}/realms/{{REALM_NAME}}
KEYCLOAK_EXTERNAL_HOST=http://{{HOSTNAME}}:{{KEYCLOAK_PORT}}
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=identity
KEYCLOAK_DB_NAME=identity
KEYCLOAK_DB_USER=identity
KEYCLOAK_DB_PASSWORD=identity

DATABASE_URL=postgresql://identity:identity@keycloak-db:5432/nqrust_portal

NEXT_PUBLIC_LICENSE_API_KEY=pk_live_qD0FyRqewuZgIfhPvFDGT3SuZYcZKY7oeCsfTp9T
NEXT_PUBLIC_LICENSE_SERVER_URL=https://billing.nexusquantum.id
LICENSE_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMCowBQYDK2VwAyEAupcIIOQicInO2h3mlI7Kx8LYp0b8y3UKm0pca00Gzc4=\n-----END PUBLIC KEY-----"

NEXTAUTH_URL=http://{{HOSTNAME}}:{{PORTAL_PORT}}
